<app-page-wrapper title="Resume" backTo="/">
  <div class="flex flex-col gap-8">
    <p>You can download my resume or go to my Linkedin profile</p>

    <div>
      <p>
        Resume:
        <span class="text-highlight">
          <a href="/docs/BrunoJoao_Resume.pdf" target="_blank">Download here</a>
        </span>
      </p>
      <p>
        Linkedin:
        <span class="text-highlight">
          <a href="https://www.linkedin.com/in/brunojoao" target="_blank"
            >https://www.linkedin.com/in/brunojoao</a
          ></span
        >
      </p>
    </div>
  </div>
</app-page-wrapper>
