<div class="flex flex-col gap-8">
  <h1 class="text-xl font-bold border-b">Contact</h1>

  <p>You can contact me in the following channels</p>

  <div>
    <p>
      E-mail:
      <a class="text-highlight" href="mailto:b@brunojoao.com"
        >b&#64;brunojoao.com</a
      >
    </p>
    <p>
      Linkedin:
      <a
        class="text-highlight"
        href="https://www.linkedin.com/in/brunojoao/"
        target="_blank"
        >https://www.linkedin.com/in/brunojoao/</a
      >
    </p>
  </div>
</div>
