<app-page-wrapper title="Investments" backTo="/">
  <app-page-wrapper-actions>
    <a class="button" [routerLink]="['/investment', 'add']">+</a>
  </app-page-wrapper-actions>
  <div class="flex flex-col">
    <div>
      Value: <span class="text-accent">{{ totals().value | currency }}</span>
    </div>
    <div>
      Net:
      <span class="text-accent"
        >{{ totals().net - totals().value | currency }}
        <small> ({{ totals().net | currency }}) </small>
      </span>
    </div>
    <div>
      Gross:
      <span class="text-accent"
        >{{ totals().gross - totals().value | currency }}
        <small> ({{ totals().gross | currency }}) </small>
      </span>
    </div>
    <div>
      Fees: <span class="text-accent">{{ totals().fees | currency }}</span>
    </div>
  </div>
  <a
    class="border py-1 px-3"
    *ngFor="let investment of investments(); trackBy: trackBy"
    [routerLink]="['/investment', investment.item.id]"
  >
    <div class="flex flex-col gap-4">
      <div class="flex justify-between gap-4">
        <div class="grow flex flex-col justify-center">
          <b class="text-accent">
            {{ investment.item.title }}
          </b>
          <small>{{ investment.item.value | currency }}</small>
          <small>
            {{ investment.item.startDate | date }} -
            {{ investment.item.dueDate | date }}
          </small>
        </div>

        <div class="flex items-center gap-2">
          <div>
            <button
              class="px-4"
              (click)="
                $event.stopPropagation();
                $event.preventDefault();
                removeInvestment(investment.item)
              "
            >
              x
            </button>
          </div>
        </div>
      </div>
    </div>
  </a>
</app-page-wrapper>
