<div class="flex flex-col gap-4 mt-10">
  <div class="flex flex-col gap-4 mt-20 text-center max-w-screen-md m-auto">
    <h1 class="text-2xl">Let's build your product!</h1>

    <h2 class="text-5xl">I transform ideas for the internet into Web Apps</h2>

    <span>
      <button
        class="px-4 py-2 font-bold border border-blue-700 rounded text-primary bg-highlight hover:bg-blue-700"
        routerLink="/contact"
      >
        Make it happen
      </button>
    </span>
  </div>

  <div class="flex flex-col gap-4 mt-20">
    <p class="font-serif text-lg text-highlight font-code">
      <span class="writing-animation"
        >HELLO. MY NAME IS <span class="font-bold">BRUNO</span></span
      >
    </p>
    <p>I've been working with Web Developments since 2009.</p>
    <p>
      I have full knowledge about WEB, UI and UX and I can help your project in
      many ways but the best one is workin on UI, designing and implementing
      interfaces for both mobile and desktop.
    </p>
    <p>
      My main goal is to create intuitive and accessible interfaces where the
      users can securely do what they need with a minimum effort.
    </p>
    <p>
      I have had 2 startups and worked in many others as Fintechs, 3d modeling,
      AI, Biotech, E-commerce, Networking, Car sharing and Social media content
      creation.
    </p>
    <p>
      I'm a fullstack engineer that has 60%/40% FE/BE experience and I think the
      sky is the limit for what we can do together.
    </p>

    <p>
      See more on
      <a href="https://vinagreti.github.io/projects" class="text-accent"
        >https://vinagreti.github.io/projects</a
      >
    </p>
  </div>
</div>
