<div class="flex flex-row gap-4">
  <div>
    <img src="/assets/images/foto-1.png" alt="" class="w-80" />
  </div>
  <div>
    <h1>Bruno da Silva João</h1>

    <p>
      Hello. My name Is Bruno and I've been working with Web Developments since
      2010.
    </p>
    <p>
      I have full knowledge about WEB, UI and UX and I can help your project in
      many ways but the best one is workin on UI, designing and implementing
      interfaces for both mobile and desktop.
    </p>
    <p>
      My main goal is to create intuitive and accessible interfaces where the
      users can securely do what they need with a minimum effort.
    </p>
    <p>
      I have had 2 startups and worked in many others as Fintechs, 3d modeling,
      AI, Biotech, E-commerce, Networking, Car sharing and Social media content
      creation.
    </p>
    <p>
      I'm a fullstack engineer that has 60%/40% FE/BE experience and I think the
      sky is the limit for what we can do together.
    </p>

    <p>
      See more on
      <a href="https://vinagreti.github.io/projects"
        >https://vinagreti.github.io</a
      >
    </p>
  </div>
</div>
