<div
  class="w-svw h-svh overflow-auto wrapper"
  [class]="
    (templateService.baseColors$ | async) ||
    'text-secondary-contrast bg-primary'
  "
>
  <div class="flex flex-col max-w-screen-lg m-auto h-full">
    <!-- HEADER -->
    <div
      class="flex flex-row flex-wrap gap-y-3 gap-x-16 items-center justify-between p-4 text-xl"
    >
      <a class="flex flex-row items-center gap-4 font-bold" routerLink="/">
        <img src="images/foto.png" alt="" class="w-16 rounded-full" />
        Bruno João
      </a>
      <div
        *ngIf="user$ | async"
        class="flex flex-row items-center gap-4 justify-center md:justify-end flex-grow"
      >
        <a routerLink="/notes">Notes</a>
        <a routerLink="/tools">Tools</a>
        <a routerLink="/investment">Investments</a>
        <button (click)="signOut()">
          <app-icon icon="person" class=""></app-icon>
        </button>
      </div>
      <div
        class="flex flex-row items-center gap-4 justify-center md:justify-end flex-grow"
      >
        <a routerLink="/projects">Projects</a>
        <a routerLink="/resume">Resume</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/login" *ngIf="!(user$ | async)">
          <app-icon icon="person" class="text-highlight"></app-icon>
        </a>
        <button
          (click)="templateService.toggleTheme()"
          *ngIf="
            (templateService.colorScheme$ | async) || 'dark' as colorScheme
          "
        >
          <app-icon
            icon="bulb"
            [class]="colorScheme === 'dark' ? 'text-white' : 'text-primary'"
          ></app-icon>
        </button>
      </div>
    </div>
    <!-- BODY -->
    <div class="p-4 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
