<div
  class="w-svw h-svh overflow-auto wrapper"
  [class]="
    (templateService.baseColors$ | async) ||
    'text-secondary-contrast bg-primary'
  "
>
  <div class="flex flex-col max-w-screen-lg m-auto h-full">
    <!-- HEADER -->
    <div
      class="flex flex-row flex-wrap gap-y-3 gap-x-4 items-center justify-between p-4 text-xl"
    >
      <div id="dropdown-menu">
        <app-dropdown [avoidOverflowLeft]="true" title="&#9776;">
          <div class="flex flex-col gap-2 p-4 bg-accent">
            <ng-container *ngIf="user$ | async">
              <a class="button" routerLink="/notes">Notes</a>
              <a class="button" routerLink="/tools">Tools</a>
              <a class="button" routerLink="/post">Posts</a>
              <a class="button" routerLink="/investment">Investments</a>
            </ng-container>
            <a class="button" routerLink="/projects">Projects</a>
            <a class="button" routerLink="/resume">Resume</a>
            <a class="button" routerLink="/contact">Contact</a>
            <a
              routerLink="/login"
              *ngIf="!(user$ | async)"
              class="flex items-center gap-2"
            >
              <app-icon icon="person" class="text-highlight"></app-icon> Login
            </a>
            <button
              (click)="signOut()"
              *ngIf="user$ | async"
              class="flex items-center gap-2"
            >
              <app-icon icon="person" class=""></app-icon> Logout
            </button>
          </div>
        </app-dropdown>
      </div>
      <a class="flex flex-row items-center gap-4 font-bold" routerLink="/">
        <img src="images/foto.png" alt="" class="w-16 rounded-full" />
        Bruno João
      </a>

      <div
        id="list-menu"
        class="flex flex-row items-center gap-4 justify-center md:justify-end flex-grow"
      >
        <ng-container *ngIf="user$ | async">
          <a routerLink="/notes">Notes</a>
          <a routerLink="/tools">Tools</a>
          <a routerLink="/post">Posts</a>
          <a routerLink="/investment">Investments</a>
        </ng-container>

        <a routerLink="/projects">Projects</a>
        <a routerLink="/resume">Resume</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/login" *ngIf="!(user$ | async)">
          <app-icon icon="person" class="text-highlight"></app-icon>
        </a>
      </div>

      <div class="flex gap-2">
        <button
          (click)="templateService.toggleTheme()"
          *ngIf="
            (templateService.colorScheme$ | async) || 'dark' as colorScheme
          "
        >
          <app-icon
            icon="bulb"
            [class]="colorScheme === 'dark' ? 'text-white' : 'text-primary'"
          ></app-icon>
        </button>
      </div>
    </div>
    <!-- BODY -->
    <div class="p-4 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
