<div class="flex flex-col gap-4 h-96">
  <h1>New note group</h1>

  <form class="flex flex-col gap-4 border p-4" #signinForm="ngForm">
    <div class="border p-4">
      <input
        class="text-primary"
        type="email"
        name="email"
        id="email"
        [(ngModel)]="title"
        placeholder="e-mail"
        required
      />
    </div>
    <div>
      <button
        [disabled]="signinForm.invalid === true || (waitingCreation$ | async)"
        (click)="addNoteGroup()"
      >
        {{ (waitingCreation$ | async) ? "Autenticando..." : "Criar" }}
      </button>
    </div>
  </form>
</div>
