<app-page-wrapper title="New note group" backTo="/notes">
  <form
    class="flex flex-col gap-4"
    #noteGroupAddForm="ngForm"
    (submit)="addNoteGroup()"
  >
    <div>
      <input
        class="text-primary"
        type="title"
        name="title"
        id="title"
        [(ngModel)]="title"
        placeholder="title"
        required
      />
    </div>

    <div class="flex gap-4">
      <div class="grow">
        <input
          class="text-primary"
          type="date"
          name="dueDate"
          id="dueDate"
          [(ngModel)]="dueDate"
          placeholder="dueDate"
          required
          onfocus="this.showPicker()"
        />
      </div>

      <div class="grow">
        <select
          class="text-primary"
          type="noteGroupType"
          name="noteGroupType"
          id="noteGroupType"
          [(ngModel)]="noteGroupType"
          placeholder="noteGroupType"
          required
        >
          <option
            *ngFor="let noteGroupType of noteGroupTypes"
            [value]="noteGroupType"
          >
            {{ noteGroupType }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <button
        [disabled]="
          noteGroupAddForm.invalid === true || (waitingCreation$ | async)
        "
      >
        {{ (waitingCreation$ | async) ? "Autenticando..." : "Criar" }}
      </button>
    </div>
  </form>
</app-page-wrapper>
