<app-page-wrapper title="Notes" backTo="/">
  <app-page-wrapper-actions>
    <div class="flex gap-4">
      <div>
        <a class="button block" [routerLink]="['/notes', 'group', 'add']"
          >+ g</a
        >
      </div>
      <div>
        <a class="button block" [routerLink]="['/notes', 'add']">+ n</a>
      </div>
    </div>
  </app-page-wrapper-actions>

  <a
    class="border py-1 px-3"
    *ngFor="let noteGroup of noteGroups$ | async; trackBy: trackBy"
    [routerLink]="['/notes', noteGroup.id]"
  >
    <div class="flex flex-col gap-4">
      <div class="flex justify-between gap-4">
        <div class="grow flex flex-col justify-center">
          <b class="text-accent">
            {{ noteGroup.title }}
          </b>
          <div>{{ noteGroup.type }}</div>
        </div>

        <div class="flex items-center gap-2">
          <div>
            <button
              class="px-4"
              (click)="
                $event.stopPropagation();
                $event.preventDefault();
                removeNoteGroup(noteGroup)
              "
            >
              x
            </button>
          </div>
        </div>
      </div>
    </div>
  </a>
</app-page-wrapper>
