@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Verdana ", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.font-code {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 2rem;
  border-bottom: 3px solid grey;
  margin-bottom: 16px;
}

input,
select {
  @apply w-full bg-primary-contrast border rounded py-2 px-4 m-0 text-xl text-primary caret-accent;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.button,
button {
  @apply border border-2 rounded border-accent py-2 px-3;

  &.raw-button {
    border: 0px;
    padding: 0px;
  }

  &:hover {
    @apply bg-accent text-accent-contrast;
  }

  &:disabled {
    @apply bg-disabled text-disabled-contrast border-none;
  }
}
