<div class="flex flex-col gap-4 h-full">
  <h1>New note</h1>

  <form class="flex flex-col gap-4" #noteAddForm="ngForm" (submit)="addNote()">
    <div>
      <input
        class="text-primary"
        type="title"
        name="title"
        id="title"
        [(ngModel)]="title"
        placeholder="title"
        required
      />
    </div>

    <div>
      <textarea
        class="text-primary"
        type="content"
        name="content"
        id="content"
        [(ngModel)]="content"
        placeholder="content"
      ></textarea>
    </div>

    <div class="flex gap-4">
      <div class="grow">
        <select
          class="text-primary"
          type="noteGroup"
          name="noteGroup"
          id="noteGroup"
          [(ngModel)]="noteGroup"
          placeholder="noteGroup"
          [disabled]="!!groupId"
          required
        >
          <option
            [value]="noteGroup.id"
            *ngFor="let noteGroup of noteGroups$ | async"
          >
            {{ noteGroup.title }}
          </option>
        </select>
      </div>

      <div class="grow">
        <select
          class="text-primary"
          type="noteStatus"
          name="noteStatus"
          id="noteStatus"
          [(ngModel)]="noteStatus"
          placeholder="noteStatus"
          required
        >
          <option *ngFor="let noteStatus of noteStatuses" [value]="noteStatus">
            {{ noteStatus }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <button
        [disabled]="noteAddForm.invalid === true || (waitingCreation$ | async)"
      >
        {{ (waitingCreation$ | async) ? "Autenticando..." : "Criar" }}
      </button>
    </div>
  </form>
</div>
