<div class="flex flex-col gap-4 h-96">
  <h1>New note</h1>

  <form class="flex flex-col gap-4 border p-4" #signinForm="ngForm">
    <div class="border p-4">
      <select
        class="text-primary"
        type="noteGroup"
        name="noteGroup"
        id="noteGroup"
        [(ngModel)]="noteGroup"
        placeholder="noteGroup"
        required
      >
        <option
          [value]="noteGroup.id"
          *ngFor="let noteGroup of noteGroups$ | async"
        >
          {{ noteGroup.title }}
        </option>
      </select>
    </div>
    <div class="border p-4">
      <input
        class="text-primary"
        type="title"
        name="title"
        id="title"
        [(ngModel)]="title"
        placeholder="title"
        required
      />
    </div>
    <div class="border p-4">
      <input
        class="text-primary"
        type="content"
        name="content"
        id="content"
        [(ngModel)]="content"
        placeholder="content"
        required
      />
    </div>
    <div>
      <button
        [disabled]="signinForm.invalid === true || (waitingCreation$ | async)"
        (click)="addNote()"
      >
        {{ (waitingCreation$ | async) ? "Autenticando..." : "Criar" }}
      </button>
    </div>
  </form>
</div>
