<div *ngIf="noteGroup$ | async as noteGroup" class="flex flex-col gap-2">
  <div class="flex justify-between items-center">
    <h1>{{ noteGroup.title }}</h1>
    <div class="flex gap-4">
      <a [routerLink]="['/notes', 'add', noteGroup.id]"
        ><app-badge>+ note</app-badge></a
      >
    </div>
  </div>
  <div
    class="border py-1 px-3"
    *ngFor="let note of noteGroup.notes"
    [routerLink]="['.', note.id]"
  >
    <div class="flex gap-4">
      <div class="grow flex flex-col">
        <b class="text-accent">{{ note.title }}</b>
        <div>
          {{ note.content }}
        </div>
      </div>
      <div class="flex items-center">
        <button
          class="border rounded p-2"
          (click)="$event.stopPropagation(); copyToClipboard(note.content)"
        >
          copy
        </button>
      </div>
    </div>
  </div>
</div>
